@page "/adventureinterface"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager MyNavigationManager

<h3>Adventure Interface</h3>

<MudGrid>
    <MudItem xs="12" md="8">
        <h4>Adventure Map</h4>
        @if(map is not null){
            foreach (string line in map?.Split('\n'))
            {
                <div style="flex:auto;width:auto;margin:0px">
                @foreach (string t in line.Split("|"))
                {
                    @if (!string.IsNullOrWhiteSpace(t) && !string.IsNullOrWhiteSpace(currentPlayerLocation) && CleanLine(t) == currentPlayerLocation)
                    {
                        <div style="height: 20px;width: 20px;background-color: green;float:left;margin:0px"></div>
                    }
                    else if (!string.IsNullOrWhiteSpace(t))
                    {
                        <div style="height: 20px;width: 20px;background-color: black;float:left;margin:0px"></div>
                    }
                    else
                    {
                        <div style="height: 20px;width: 20px;background-color: teal;float:left;margin:0px"></div>
                    }
                }
                </div>
                <br />
            }
        }
    </MudItem>
    <MudItem xs="12" md="4">
        <MudText Class="pb-4">Existing Players</MudText>
        <MudTable Items=@_players Hover="true" Breakpoint="Breakpoint.Sm" AllowUnsorted=true
                  Context="product" Dense=true FixedHeader=true RowsPerPage=10 SortLabel="Sort By" Outlined="true">
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Key</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@product.Name</MudTd>
                <MudTd DataLabel="Description">@product.Key</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" md="8">
        <MudText Class="pb-4">@playResponse</MudText>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudText Class="pb-4">Move Commands</MudText>
        <MudGrid>
            <MudItem xs="12" md="12">
                    <MudButton OnClick=@PlayerCommand_North Color=Color.Tertiary Variant=Variant.Filled Style="margin-left:25%"
                            Size=Size.Large Disabled=@northEnabled>North</MudButton>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudButton OnClick=@PlayerCommand_West Color=Color.Tertiary Variant=Variant.Filled
                           Size=Size.Large Disabled=@eastEnabled>West</MudButton>

            </MudItem>
            <MudItem xs="12" md="6">
                <MudButton OnClick=@PlayerCommand_East Color=Color.Tertiary Variant=Variant.Filled
                           Size=Size.Large Disabled=@westEnabled>East</MudButton>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudButton OnClick=@PlayerCommand_South Color=Color.Tertiary Variant=Variant.Filled Style="margin-left:25%"
                           Size=Size.Large Disabled=@southEnabled>South</MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12" md="8">
        <MudText Class="pb-4">Player Commands</MudText>
        <MudItem xs="12" md="12">
            <MudButton OnClick=@PlayerCommand_Look Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Look</MudButton>
            <MudButton OnClick=@PlayerCommand_Kill Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Kill</MudButton>
            <MudButton OnClick=@PlayerCommand_Drop Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                    Size=Size.Large>Drop</MudButton>
        </MudItem>
        <br />
        <MudItem xs="12" md="12">
            <MudButton OnClick=@PlayerCommand_Take Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Take</MudButton>
            <MudButton OnClick=@PlayerCommand_Inventory Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Inventory</MudButton>
            <MudButton OnClick=@PlayerCommand_Measure Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Measure</MudButton>
        </MudItem>
    </MudItem>
</MudGrid>
