@page "/adventureinterface"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager MyNavigationManager

<h3>Adventure Interface</h3>

<MudGrid>
    <MudItem xs="12" md="8">
        <h4>Adventure Map</h4>
        @if(map is not null){
            @for (var x = 0; x < _adventureIdMap.GetLength(0); x++)
            {
                <div style="flex:auto;width:auto;margin:0px">
                @for (var y = 0; y < _adventureIdMap.GetLength(1); y++)
                {
                    var id = _adventureIdMap[x, y];
                    @if (id is not null && currentPlayerLocation is not null && id.ToString() == currentPlayerLocation)
                    {
                        <div style="height: 20px;width: 20px;background-color: green;float:left;margin:0px">
                            <img src="player.png">
                        </div>
                    }
                    else if (id is not null && _discoveredRooms.Contains(id.Value))
                    {
                        var region = _regionMap[id.Value];
                        <div style="height: 20px;width: 20px;background-color: black;float:left;margin:0px">
                            @if (region == (int)Mapping.Enums.RegionType.Swamp)
                            {
                                    <img src="swamp.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Beach)
                            {
                                <img src="beach.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Canyon)
                            {
                                <img src="canyon.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.City)
                            {
                                <img src="city.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Dune)
                            {
                                <img src="dune.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Farmland)
                            {
                                <img src="farmland.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Forest)
                            {
                                <img src="forest.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.River)
                            {
                                <img src="river.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Town)
                            {
                                <img src="town.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Village)
                            {
                                <img src="village.png">
                            }
                            else if (region == (int)Mapping.Enums.RegionType.Volcano)
                            {
                                <img src="volcano.png">
                            }
                        </div>
                    }
                    else
                    {
                        <div style="height: 20px;width: 20px;background-color: white;float:left;margin:0px"></div>
                    }
                }
                </div>
                <br />
            }
        }
    </MudItem>
    <MudItem xs="12" md="4">
        <MudText Class="pb-4">Current Players</MudText>
        <MudTable Items=@_players Hover="true" Breakpoint="Breakpoint.Sm" AllowUnsorted=true
                  Context="product" Dense=true FixedHeader=true RowsPerPage=10 SortLabel="Sort By" Outlined="true">
            <HeaderContent>
                <MudTh>Name</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@product.Name</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" md="8">
        <MudText Class="pb-4">
            @if (@playResponse is not null)
            {
                @foreach (string line in playResponse?.Split('\n'))
                {
                    @line
                    <br />
                }
            }
        </MudText>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudText Class="pb-4">Move Commands</MudText>
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.north)" Color=Color.Tertiary Variant=Variant.Filled Style="margin-left:25%"
                            Size=Size.Large Disabled=@northEnabled>North</MudButton>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.west)" Color=Color.Tertiary Variant=Variant.Filled
                           Size=Size.Large Disabled=@westEnabled>West</MudButton>

            </MudItem>
            <MudItem xs="12" md="6">
                <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.east)" Color=Color.Tertiary Variant=Variant.Filled
                           Size=Size.Large Disabled=@eastEnabled>East</MudButton>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.south)" Color=Color.Tertiary Variant=Variant.Filled Style="margin-left:25%"
                           Size=Size.Large Disabled=@southEnabled>South</MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="12" md="8">
        <MudText Class="pb-4">Player Commands</MudText>
        <MudTextField @bind-Value="_playerCommandText" Placeholder="Player Command Text" Style="width:600px;margin-left:10%"
                      Adornment="Adornment.Start" MaxLength="20" TextChanged="UpdatePlayerCommandText" Immediate=true>
        </MudTextField>
        <br />
        <MudItem xs="12" md="12">
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.look)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Look</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.attack)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                       Size=Size.Large>Attack</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.drop)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                    Size=Size.Large>Drop</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.eat)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                       Size=Size.Large>Eat</MudButton>
        </MudItem>
        <br />
        <MudItem xs="12" md="12">
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.take)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Take</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.inventory)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Inventory</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.measure)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                        Size=Size.Large>Measure</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.drink)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                       Size=Size.Large>Drink</MudButton>
            <MudButton @onclick="() => PlayerCommand(Grains.Enums.PlayerCommands.health)" Color=Color.Tertiary Variant=Variant.Filled Style="width:200px;margin-left:10%"
                       Size=Size.Large>Health</MudButton>
        </MudItem>
    </MudItem>
</MudGrid>
