@page "/"

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-16">
    <MudText Typo=Typo.h4 Class="pb-4">Welcome to the Orleans Discord Adventure App</MudText>
    <MudList>
        <MudListItem>
            Use the this link to get to the Swagger Page: <a href="/swagger/index.html">Swagger Link</a>.
        </MudListItem>
    </MudList>
</MudContainer>